#bodyAngie {
  padding: 0;
  margin: 0;
}

#angie {
  font-family: lobster;
  font-size: 40px;
  color: #4074c9;
  text-align: center;
}

#misDatos {
  display: inline-block;
  margin-left: 50px;
  

}

/*#myPicture {
  display: inline-block;
}

#myParagraph {
  display: inline-block;
}*/
