body{

}
#titulos > h2{
	font-size: 30px;
	top: 10%;
	float: right;
	color: white;
}
#titulos > div{
	font-size: 200%;
	position: absolute;
	margin-top: 33%; 
	margin-left:43%;
	color: gray;
	background-color: white;
	border-radius: 7px 7px;
	padding: 10px;
}
#titulos > div:hover{
	background: black;
	color: white;
	cursor: pointer;
}
.contFoto{
	margin-left: 10%;
	margin-top: 5%;
	width: 80%;
	height: 700px;
	border-radius: 5% 5%;
	background-image: url(../img/itzel/fondo.jpg);
	position: relative;
}
.titulo{
	font-size: 70px;
	float: left;
	margin: 25%;
	color: white;
	width: 100%;
	height: 20%;
}
.nombreIx{
	font-size: 30px; 
	margin-left: 10%;
}
.lineaTitulo{
	margin-left: 10%;
	height: 10px;
	width: 60%;
}
.bck{
	display: block;
}
.dorado{
	background-color: #929E19;
}
.fotoIx{
	width: 600px;
	height: 800px;
	margin-left: 10%;
	float: left;
	background-color: black;
}
.descripcion{
	width: 45%;
	height: 550px;
	margin-left: 10%;
	font-size: 28px;
	float: left
}

.circular{
	border-radius: 50% 50%;
}
.absolute{
	position: absolute;
}

.borde{
	border: solid black 2px;
}
.limpiar{
	clear: left;
}
#pasatiempos>h2{
	margin-left: 45%;
	font-size: 28px;
}
#pasatiempos>p{
	font-size: 28px;
	margin-left: 10%;
}