html,body{
	height: 100%;
}
#titulos > h2{
	font-size: 30px;
	top: 10%;
	float: right;
	color: white;
}
#titulos > div{
	font-size: 100%;
	position: absolute;
	margin-top: 33%; 
	margin-left:43%;
	color: gray;
	background-color: white;
	border-radius: 7px 7px;
	padding: 10px;
}
#titulos > div:hover{
	background: black;
	color: white;
	cursor: pointer;
}
.fotoItz{
	margin-left: 10%;
}
a{
	text-decoration: none;
	color: gray;
}
.contFoto{
	width: 100%;
	height: 100%;
	border-radius: 7px 7px;
	background-image: url(../img/itzel/fondo.jpg);
	text-align: center;
}
.titulo{
	font-size: 60px;
	float: left;
	margin-top: 20%;
	color: white;
	width: 100%;
	height: 20%;
}
.nombreIx{
	font-size: 30px; 
	margin-left: 10%;
}
.bck{
	display: block;
}
.dorado{
	background-color: #929E19;
}
.fotoIx{
	width: 25%;
	height: 100%;
	margin-top: 10%;
	margin-left: 10%;
	float: left;
	background-color: black;
}
.descripcion{
	width: 45%;
	height: 80%;
	margin-top: 10%;
	margin-left: 10%;
	margin-bottom: 10%;
	font-size: 23px;
	text-align: justify;
	float: left;
}
.sobreMi{
	background-color: #B7ADA0;
	width: 98.5%;
	border-radius: 7px 7px;
	position: absolute;
}
.circular{
	border-radius: 50% 50%;
}
.absolute{
	position: absolute;
}

.borde{
	border: solid black 2px;
}
.limpiar{
	clear: left;
}
.fotoIx{
	height: 80%;
}