.contenedor {
	width: 100%;
	height: 100%;
	background-image:url(../img/images.jpg);
}

img{
	margin-top: 100px;
	margin-left: 100px;
	
}
span{
	font-size: 45px;
	font-weight: 600;
	font-family: fantasy;
	color: crimson;
}
p{
	font-size: 70px;
	color: aliceblue;
}